<%- include("header") -%>
<style>
    .material-symbols-outlined{
        cursor: pointer;
    }



</style>
<head>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />






<div style="width: auto;
min-height: 500px;
height: fit-content;
flex-shrink: 0;border-radius: 19px;
background: #edf0f2;margin: 1.6rem;">
<div style="width: auto; border-radius: 19px 19px 0px 0px;
background:linear-gradient(to right, #72a2ca,#1b629b);;display: flex;column-gap: 4px;column-gap: 4vh;justify-content: flex-start;flex-wrap: wrap;padding: 1.6vh;">
<span class="material-symbols-outlined" style="align-self: center;font-size: 5vh;" onclick='window.location="/"'>
    arrow_back
    </span>
    
<img class="card-img-top" src="https://cdn-icons-png.flaticon.com/256/1077/1077114.png" style="height: 48px;width: 40px;padding:1vh 0 1vh 1vh;" alt="user profile photo">
<% if (blog.email===loggeduser.email) { %>
    <a href="/editblog/<%= blog._id %>" style="text-decoration: none;color: black;align-self: flex-end;"><span class="material-symbols-outlined" style="font-size: 40px;align-self: center;" id="editblog">
        edit
        </span>
    </a>
    <p style="align-self: flex-end;text-align:right;">published by you</p>
<% }else{%>
    <p style="align-self: flex-end;">Created by <%= blog.createdby%> </p>
 <%}   %>
<% if (blog.modifiedtime) { %>
 <p>last updated on <%=blog.modifiedtime%></p>
<% } else{%>
<p style="align-self: flex-end;margin-left: auto;padding-right: 2vh;font-size: 10px;color: white;letter-spacing: 1px;">published on <%=blog.publishtime.toString().split("GMT")[0]%></p>
<%}%>
</div>
<div style="padding: 12px;">
    <h2 style="font-size: 22px;text-align: center;"><%=blog.heading%></h2>
    <div ><%-blog.content%></div>
    </div>
 
</div>
